function p(m){print(JSON.stringify(m))}
try {
    {% for host in groups['shard_masters'] %}
    p(sh.addShard("{{ hostvars[host].replSet }}/{{ groups[hostvars[host].replSet]|join(",") }}"))
    sleep(3000)
    {% endfor %}

    sleep(5000)
    p(sh.enableSharding("testdb"))

    sleep(5000)
    p(sh.shardCollection("testdb.testCol", {"key": 1}))
}
catch(e) {
print(e)
quit(1)
}

sh.status()

// set chunk size to 1MB

db = db.getSiblingDB('config');
db.settings.save({_id:"chunksize", value: 1})
