body {
  background-color: #333;
  color: #fff
}

a {
  color: #fff
}

.host_alive {
  background-color: green;
  padding: 5px;
}

.host_dead {
  background-color: red;
  padding: 5px;
}

.progress-outer {
 width: 90%;
 background-color: #aaa;
 height: 30px;
 display: flex; 
}

.progress-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
