[Unit]
Description=Cluster Monitor

[Service]
ExecStart=/usr/bin/node /home/pi/cluster-monitor/index.js
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/cluster-monitor/

[Install]
WantedBy=multi-user.target
