[Unit]
Description=Cluster Monitor

[Service]
ExecStart=/home/pi/cluster-monitor/index.js
Restart=always
User=root #required for the ping function
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/cluster-monitor/

[Install]
WantedBy=multi-user.target
