#where to log
logpath=/var/log/mongo/mongod-config.log

logappend=true

# fork and run in background
#fork = true

port = 27019

dbpath=/var/lib/mongodb_config
#keyFile=secret
# location of pidfile
pidfilepath = /var/run/mongo/mongoc.pid

configsvr=true
